body,
html,
input,
textarea {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  background-color: #d3dce6;
}

a {
  color: inherit;
  text-decoration: none;
}
